
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/blog/{{id}}">{{name}}</a>

    </h2>
    <p id="blog-name">
      Title:
      {{title}}
    </p>
  </div>
  <div class="col-md-7">
    <p id="blog">
      Blog:
      {{blog}}
      {{date_created}}
      {{user_id}}
    </p>
  </div>
</div>

<p>
  <button class="btn btn-primary" id="btn-update">Update Blog </button>
</p>

<p>
  <button class="btn btn-primary" id="btn-comment">
    <a href'/comment'></a>Comment
  </button>
</p>