
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/blog/{{id}}">{{name}}</a>

    </h2>
    <p id="blog-name">
      Title:{{title}}
    </p>
  </div>
  <div class="col-md-7">
    <p id="blog">
      Blog: {{blog}}
      <br>
      date_created: {{date_created}}
      <br>
      user_id: {{user_id}}
    </p>
  </div>
</div>
<div>
  {{#each comments as |comment|}}
    <div style="border: 1px solid black; margin: 10px">
      <p>
       {{comment.comment_text}}
      </p>
      <p>
        {{comment.user.name}}
      </p>
    </div>
  {{/each}}
</div>

<form class="form comment-form">
      <div class="form-group">
        <label for="comment">Leave a Comment:</label>
        <textarea class="form-input" type="text" id="comment" ></textarea>
      </div>
      <input type="hidden" id="blog-id" value="{{id}}">
      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          comment
        </button>
      </div>
      </div>
    </form>
{{#if owner}}
 <h2 class="card-header">Edit Post</h2>
    <form class="card-body update-form">
        <div class="form-row">
        <label for="title" class="title">Title</label>
        <input id="title" type="text" value="{{title}}" class="form-input form-control"/>
        </div>

        <div class="form-row">
        <label for="update-blog" class="blog">Blog</label>
        <input id="update-blog" type="text" value="{{blog}}" class="form-input form-control"/>
        </div>
        <button type="submit" id="btn-update" class="btn">Update</button>
    </form>
    
    
  </div>
{{/if}}
<script src="/js/comment.js"></script>